.svgCanvas {
    border: 2px solid gold;
    flex-grow: 3;
    flex-basis: calc(75% - 10px);
    /*margin: 0 10px;*/
    /*width: 75%;*/
    box-sizing: border-box;
}

.pointTable {
    flex-grow: 1;
    flex-basis: calc(25% - 10px);
    /*margin: 0 10px;*/
    box-sizing: border-box;
}

@media(max-width: 720px) {
    .svgCanvas {
        width: 100%;
    }
    .pointTable {
        width: 100%;
    }
}


.pointTable th, .pointTable td {
    padding: 5px 5px;
}

.configurablePlot {
    display: flex;
    flex-flow: row wrap;
}

.numberInput {
    width: 50px;
}
